$main_color: #fff;

$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

@mixin respond-to ($media) {
  @if $media == mobile {
    @media only screen and (min-width: 1px) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: $tablet) {
      @content;
    }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $desktop) {
      @content;
    }
  }
}